.vscode
helloworld
hl
color
name
pointers
pointers2
array
integer
conditionals_and_ternary
switch
while_and_doWhile
for_loop
loop_with_pointers_and_shortcuts
float
try_catch
functions
linkers_qualifiers
operations
logical_operations
bitwise_operation
memory_leaks