.vscode
helloworld
hl
color
name
pointers
pointers2
array
integer
conditionals_and_ternary
switch
while_and_doWhile
for_loop
loop_with_pointers_and_shortcuts
float
try_catch
functions
linkers_qualifiers
operations
logical_operations
bitwise_operation
memory_leaks
structs
enums_and_preprocessors
strongly_typed
heap_stack
functions_in_details
header_file
templates
functional_pointers
nullptr
factorial_and_recursion
macros
variadic_templates_and_recursion